<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--错误日志类-->
	<logger name="logerror">
		<!--日志类的名字-->
		<level value="ALL" />
		<!--定义记录的日志级别-->
		<appender-ref ref="InfoAppender" />
	</logger>
	<!--信息日志类-->
	<logger name="loginfo">
		<level value="ALL" />
		<appender-ref ref="InfoAppender" />
	</logger>
	<!--信息日志附加介质-->
	<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="Log\\" />
		<param name="AppendToFile" value="false" />
		<param name="MaxFileSize" value="10240" />
		<param name="MaxSizeRollBackups" value="10" />
		<param name="StaticLogFileName" value="true" />
		<param name="DatePattern" value="日志记录：yyyy年-MM月-dd日-hh时&quot;.html&quot;" />
		<param name="RollingStyle" value="Once" />
		<!--信息日志布局-->
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] %n日志级别：%-5p &lt;BR&gt;日志信息：&lt;BR&gt;%n%m &lt;BR&gt;%n" />
		</layout>
	</appender>
</log4net>